In [3]:
import pandas as pd

In [4]:
#dfs = {}
#for i in range(1, 11): 
#    file = "locations"+str(i)+".csv"
#    dfs["df_"+str(i)] = pd.read_csv(file)

In [5]:
#dfs

In [6]:
#locations = pd.concat(dfs.values(), ignore_index=True)

In [7]:
#locations.dtypes

In [8]:
#locations[locations['phone_number'] == 2018159770][['time_stamp','latitude','longitude','accuracy']]

In [9]:
locations = pd.read_csv("alllocations_limited.csv")
locations

         phone_number          ts   latitude  longitude  accuracy
0          2018159770  1534912144  41.703319 -86.233138        65
1          2018159770  1534912324  41.703275 -86.233146        30
2          2018159770  1534912504  41.703309 -86.233198        65
3          2018159770  1534912684  41.703309 -86.233198        65
4          2018159770  1534912864  41.703320 -86.233138        65
...               ...         ...        ...        ...       ...
2839287    9897454601  1541472569  41.699708 -86.240587        50
2839288    9897454601  1541472750  41.699708 -86.240587        50
2839289    9897454601  1541472936  41.699708 -86.240587        50
2839290    9897454601  1541473118  41.699708 -86.240587        50
2839291    9897454601  1541473298  41.699708 -86.240587        50

[2839292 rows x 5 columns]

In [10]:
for number in locations.phone_number.unique():
    df = locations[locations['phone_number'] == number][['ts','latitude','longitude','accuracy']]
    file_name = str(number)+".csv"
    df.to_csv(file_name, index=False)

In [22]:
print('[')
for number in locations.phone_number.unique():
    print("\'"+str(number)+"\'"+", ")
print(']')

[
'2018159770',
'2025315435',
'2034175085',
'2059368116',
'2062287154',
'2069200835',
'2077103848',
'2109099146',
'2135007406',
'2149062229',
'2174146944',
'2196707494',
'2244567371',
'2245204125',
'2245450936',
'2246223748',
'2316338219',
'2482287091',
'2488408508',
'2514471719',
'2537321828',
'2622253434',
'2623390135',
'2623702227',
'2623887068',
'2625275069',
'2816101590',
'2819893149',
'3017855377',
'3057889674',
'3108747665',
'3125764026',
'3128601235',
'3139693954',
'3144970665',
'3145463889',
'3145875800',
'3146044161',
'3155659083',
'3173713758',
'3176966365',
'3177028408',
'3177306827',
'3179872245',
'3303296748',
'3303487454',
'3365291279',
'3377181990',
'3476070384',
'4014745533',
'4022194581',
'4029160883',
'4047695323',
'4073251013',
'4073420212',
'4074433276',
'4075067111',
'4087479586',
'4124787938',
'4194108635',
'4235981050',
'4407734331',
'4408219195',
'4438272738',
'4773920674',
'4808434105',
'5027773500',
'5038942805',
'5043909939',
'5072264032',
'5073820832',
'5089189566',
'5105087332',
'5132354654',
'5135090385',
'5165068444',
'5178983073',
'5203051573',
'5612138541',
'5736730863',
'5742173782',
'5743390378',
'5743608544',
'5743871767',
'5749042856',
'5857037058',
'5858576529',
'6035022389',
'6083326714',
'6085779699',
'6086303366',
'6094018785',
'6094776157',
'6105003557',
'6106557901',
'6128056700',
'6143076740',
'6143954029',
'6147454330',
'6147834711',
'6156129217',
'6169907252',
'6264043623',
'6302075490',
'6304879269',
'6306695404',
'6307018859',
'6464968310',
'6507991789',
'6512951031',
'6516759816',
'6517281663',
'7033109224',
'7037957589',
'7044460264',
'7085672167',
'7143882270',
'7203546085',
'7249965012',
'7345484512',
'7346799545',
'7348458513',
'7406291997',
'7576500214',
'7632285560',
'7635878771',
'7738700842',
'7864871963',
'8054430486',
'8056685228',
'8057650231',
'8133628484',
'8144606636',
'8156666311',
'8168760202',
'8173124744',
'8178050784',
'8178881326',
'8458076479',
'8474779730',
'8476667240',
'8477726172',
'8609515431',
'9083345638',
'9088944600',
'9089631416',
'9136537988',
'9138502083',
'9143800186',
'9165293904',
'9196079394',
'9209123758',
'9372199859',
'9372385069',
'9375464322',
'9377012231',
'9523564224',
'9706911167',
'9732162340',
'9739081652',
'9897454601',
]